/* Basic Reset */

body,
html {
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
    letter-spacing: 0.3em;
}

a {
    text-decoration: none;
    color: #202020;
}

img {
    max-width: 100%;
    height: auto;
}



/* Header style */

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 1rem auto;
}

.header-heading {
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 1fr 50px;
    text-align: center;
    padding: 0 0.5em;
    margin-bottom: 1rem;
}

.header-text {
    grid-column-start: 1;
    text-transform: uppercase;

}

.cart-icon {
    grid-column-start: 2;
    font-size: 30px;
    padding: 0.5em 0;
}

.navigation {
    grid-row-start: 2;
    display: flex;
    justify-content: space-around;
    margin: auto 10%;
}

.nav-items {
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

/* layout style homepage */

.layout {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.outerwear {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.mens {}

.meno {
    background-image: url(images/mens_outerwear.jpg);
}

.lado {
    background-image: url(images/ladies_outerwear.jpg);
}

.ladt {
    background-image: url(images/ladies_tshirts.jpg);
}

.ment {
    background-image: url(images/mens_tshirts.jpg);
}

.cover {
    background-size: cover;
    background-position: center;
    min-height: 30rem;
}

.cover-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    width: 20rem;
    margin: 1rem auto;
    font-size: 1.5em;
    line-height: 2;
    letter-spacing: 0.2em;
}

.cover-head {
    font-weight: 100;
}

.cover-button {
    margin: auto;
    padding: 1rem 3rem;
    border: 3px solid #202020;
    text-transform: uppercase;
}



.tshirts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* item-details style */

.layout-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
}

.item-pic img {
    height: 80%;
    padding-right: 5%;
    float: right;
}

.item-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 5%;
    max-width: 40em;
    letter-spacing: 0.05em;
}

.item-title {
    padding-top: 1em;
    padding-bottom: 1em;
}

.item-name {
    font-weight: 100;
}

.item-price {
    color: gray;
    font-size: 1.2em;
}

.item-spec {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;

}

.dropdown-wrapper {
    border-top: 1px solid gray;
}

.dropdown-wrapper > p {
    color: gray;
    position: absolute;
    font-size: 1.2em;
}

.pfix1 {
    top: 52%
}
.pfix2 {
    top: 62.5%;
}


.items {
    float: right;
    width: 80%;
    border: none;
    background: none;
    font-size: 1.5em;
    padding: 1em 1em;
    margin-right: 1em;
}

.item-description-container {
    padding:3em 0;
    color: gray;
    line-height: 1.7;
}

.item-description-head {
    color: #202020;
    font-size: 1em;
}

.item-cart {
    text-align: center;
    margin-top: 2em;
    width: 10em;
    padding: 0.5em 2em;
    border: 2px solid #202020;
    text-transform: uppercase;
}

/* checkout style */

.layout-checkout {
    display: flex;
    flex-direction: column;
}

.forms-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-left {

}

.form-right {

}

/* footer style */

.footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    width: 200px;
    margin: 2rem auto;
    font-size: 1.2em;
    line-height: 1.5;
    letter-spacing: 0.2em;
}

.footer-head {
    font-weight: 100;
    color: lightgray;
}

.footer-block {
    font-weight: 400;
    background-color: #202020;
    color: white;
    text-transform: uppercase;
}